{% load i18n thumbnail sekizai_tags %}
{% addtoblock "css" %}<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}simplegallery/css/simplegallery.css" media="screen, projection" />{% endaddtoblock "css" %}
{% addtoblock "js" %}<script type="text/javascript" src="{{ MEDIA_URL }}simplegallery/js/jquery.cycle-2.88.js"></script>{% endaddtoblock "js" %}
{% addtoblock "js" %}<script type="text/javascript" src="{{ MEDIA_URL }}simplegallery/js/jquery.simplegallery.js"></script>{% endaddtoblock "js" %}
{% addtoblock "js" %}
<script type="text/javascript">
//<![CDATA[
jQuery(document).ready(function ($) {
	setTimeout(function () {
		$('#simplegallery_{{ instance.id }}').simpleGallery({
			navSelectors: { 
				next: '#simplegallery_{{ instance.id }} .fv-nav a[href*=#next]',
				prev: '#simplegallery_{{ instance.id }} .fv-nav a[href*=#prev]'
			},
			timeout: {{ instance.interval }}*1000,
			thumbnails: false,
			autoSlideNav: true,
			controls: false,
			status: true,
			caption: false
		});
	}, 1000);
});
//]]>
</script>
{% endaddtoblock %}

<!-- start: gallery -->
<div class="plugin_simplegallery-lite clearfix" id="simplegallery_{{ instance.id }}">
	<div class="simplegallery_fullview">
		<p class="fv-nav"><a href="#prev" class="fv-prev">{% trans "&laquo; Back" %}</a> <a href="#next" class="fv-next">{% trans "Next &raquo;" %}</a></p>
		<p class="fv-magnifier"><a href="#zoom"><abbr title="{% trans 'Zoom in' %}">+</abbr></a></p>
		<p class="fv-controls"><a href="#play" class="fv-play">{% trans "play" %}</a> <a href="#pause" class="fv-pause">{% trans "pause" %}</a></p>
		<p class="fv-status">&nbsp;</p>
		<div class="fv-caption"><p>&nbsp;</p></div>
		<div class="fv-wrapper">
			<ul>
			{% for image in images %}
				<li{% if forloop.first %} class="first"{% endif %}{% if forloop.last %} class="last"{% endif %}><a href="{% thumbnail image.image 800x600 %}" title="{{ image.title|escape|striptags }}"><img src="{% thumbnail image.image image_size.0 crop,upscale %}"{% if image_size %} style="height: {{ image_size.2 }}px;"{% endif %} alt="{{ image.description|escape|striptags }}" /></a></li>
			{% endfor %}
			</ul>
		</div>
	</div>
	<div class="simplegallery_thumbnails">
		<p class="thmb-nav"><a href="#prev" class="thmb-prev">{% trans "&laquo; Back" %}</a> <a href="#next" class="thmb-next">{% trans "Next &raquo;" %}</a></p>
		<ul>
			{% for image in images %}
				<li{% if forloop.first %} class="first"{% endif %}{% if forloop.last %} class="last"{% endif %}><a href="{% thumbnail image.image 800x600 %}" title="{{ image.title|escape|striptags }}"><img src="{% thumbnail image.image 50x40 crop %}" alt="{{ image.description|escape|striptags }}" /></a></li>
			{% endfor %}
		</ul>
	</div>
</div>
<!-- end: gallery -->